<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Spring MVC</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <!-- <p th:text="'Hello, ' + ${name} + '!'" /> -->
    
    <!-- <form action="show_feature.jsp" method="get">
		Name: <input type="text" name="product_id">
		<input type="submit" value="Submit">
	</form> -->
	
	<form th:action="@{/product}" method="get">      
	
		<label for="product_name">Product Name</label>:
		<input type="text" th:value="${product.product.name}" name="product_name"/>
		
		<label for="feature_name">Feature Name</label>:
		<input type="text" th:value="${product.feature.name}" name="feature_name"/>

		<label for="description">Description</label>:
		<input type="text" th:value="${product.description}" name="description"/>

		<label for="value">Value</label>:
		<input type="text" th:value="${product.value}" name="value"/>

		<label for="price">Price</label>:
		<input type="text" th:value="${product.price}" name="price"/>

	</form>

</body>
</html>
